.sidebar
{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 75px;
  z-index: 200;

  background-color: white;
  padding-top: 5px;
}
.sidebar-item
{
  height: 74px;
  width: 70px;
  margin-bottom: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-item:hover
{
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.sidebar-icon
{
  height: 24px;
  margin-top: 8px;
}
.sidebar-title
{
  font-size: 10px;
  margin-top: 6px;
}